.GetMyWorkout {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.questions {
    position: relative;
    top: 20vh;
    color: #f5c812;
    width: 100vw;
}

h1 {
    font-size: 5vw;
}