.GoalQuestions {
    position: relative;
    text-align: center;
    transition: transform ease 0.3s;
    transform: translateX(200%);
    height: 100vh;
}

.GoalQuestions.ShowGoalQuestions {
    transform: translateX(50%);
}

.GoalQuestions.HideGoalQuestions {
    transform: translateX(-100%);
}

.bodyfat-button {
    background-color: #f5c812;
    width: 60vw;
    height: 10vh;
    position: relative;
    top: 25vh;
    border-radius: 10px;
    border-color: transparent;
}

.muscle-button {
    background-color: #f5c812;
    width: 60vw;
    height: 10vh;
    position: relative;
    top: 35vh;
    border-radius: 10px;
    border-color: transparent;
}

.cv-button {
    background-color: #f5c812;
    width: 60vw;
    height: 10vh;
    position: relative;
    top: 45vh;
    border-radius: 10px;
    border-color: transparent;
}