.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    margin: auto;
    margin-top: 35vh;
}

.logo.register {
    margin: auto;
    display: block;
}

input#username,
input#email,
input#password {
    margin: 5px 0;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

input#password {
    margin-bottom: 10px;
}

.button.register {
    height: 50px;
}

.button.register h1 {
    margin: 0;
}