.GenderQuestions {
    position: relative;
    text-align: center;
    transition: transform ease 0.3s;
    transform: translateX(300%);
    height: 100vh;
}

.GenderQuestions.ShowGenderQuestions {
    transform: translateX(150%);
}

.GenderQuestions.HideGenderQuestions {
    transform: translateX(0);
}

.male-button {
    background-color: #f5c812;
    width: 60vw;
    height: 10vh;
    position: relative;
    top: 25vh;
    border-radius: 10px;
    border-color: transparent;
}

.female-button {
    background-color: #f5c812;
    width: 60vw;
    height: 10vh;
    position: relative;
    top: 35vh;
    border-radius: 10px;
    border-color: transparent;
}