.start {
    position: absolute;
    text-align: center;
    transition: transform ease 0.3s;
    transform: translateX(0);
    height: 100vh;
}

.start.hide-start {
    transform: translateX(-200%); 
}
  
.start-button {
    background-color: #f5c812;
    width: 60vw;
    height: 10vh;
    position: relative;
    top: 60vh;
    border-radius: 10px;
    border-color: transparent;
}

@media (min-height: 1000px) {
    .logo {
        top: 10vh;
    }

    .start-button {
        top: 50vh;
    }
}